<div class="card">
  <div class="row">
    <button
      class="btn btn-danger btn-fw"
      (click)="app.handleClickRoll()"
      [disabled]="app.isHavingPlayerWin"
    >
      Roll
    </button>
    <button
      class="btn btn-success btn-fw"
      (click)="app.handleClickKeep()"
      [disabled]="app.isHavingPlayerWin"
    >
      Keep
    </button>
  </div>
  <div class="row">
    <div class="dice-score">{{ app.diceScore }}</div>
  </div>
  <div class="row">
    <p class="round-score">Round Score: {{ app.roundScore }}</p>
  </div>
</div>
