<div class="container">
  <app-player-score
    [player]="app.players[0]"
    [currentPlayer]="app.currentPlayer"
  ></app-player-score>
  <app-dice-score></app-dice-score>
  <app-player-score
    [player]="app.players[1]"
    [currentPlayer]="app.currentPlayer"
  ></app-player-score>
</div>
