/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: #f1f2f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  text-align: center;
  padding: 15px;
  background-color: #56595a;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card {
  text-align: center;
  margin: 25px 15px;
  border: 1px solid #56595a;
  width: 30vw;
  height: 300px;
  background-color: #fff;
  color: #474a4b;
}

.card.active {
  border: 2px solid #ff0067;
  background-color: #ff99c2;
  color: #ff0067;
}

.player-name {
  margin-top: 60px;
}

.player-score {
  font-size: 60px;
}

.dice-score {
  margin: 20px auto 0;
  padding: 25px;
  width: 92px;
  height: 92px;
  border: 1px solid black;
  background-color: #56595a;
  color: #f1f2f6;
  font-size: 30px;
}

.round-score {
  font-size: 30px;
  margin-top: 15px;
}

.btn {
  padding: 6px 12px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  font-size: 14px;
}

.btn:hover {
  border: 1px solid #adadad;
  background-color: #e6e6e6;
  color: #333;
  cursor: pointer;
}

.btn.btn-danger {
  border: 1px solid #d43f3a;
  background-color: #d9534f;
  color: #fff;
}

.btn.btn-danger:hover {
  border: 1px solid #ac2925;
  background-color: #c9302c;
}

.btn.btn-success {
  border: 1px solid #4cae4c;
  background-color: #5cb85c;
  color: #fff;
}

.btn.btn-success:hover {
  border: 1px solid #398439;
  background-color: #449d44;
}

.btn-fw {
  width: 80px;
  margin-right: 10px;
}
